@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center">
    <div class="card-body">
        <img src="/Matnis/assets/images/img-navbar-card.png" alt="images" class="img-fluid mb-2">
        <h5>Harcamalarını Yönetmek İster misin?</h5>
        <p>Aylık giderlerini takip etmek artık çok kolay</p>
        <a href="/Expense/Add" target="_blank"
           class="btn btn-success">Harcama ekle</a>
    </div>
</div>
