@model List<BudgetMatic.Models.ViewModels.MonthlyExpenseListViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Harcama</th>
            <th>Harcama Notu</th>
            <th>Ocak</th>
            <th>Şubat</th>
            <th>Mart</th>
            <th>Nisan</th>
            <th>Mayıs</th>
            <th>Haziran</th>
            <th>Temmuz</th>
            <th>Ağustos</th>
            <th>Eylül</th>
            <th>Ekim</th>
            <th>Kasım</th>
            <th>Aralık</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model)
        {
            <tr>
                <td>@expense.CategoryName</td>
                <td>@expense.Note</td>

                @for (int i = 0; i < 12; i++)
                {
                    <td>@(expense.MonthlyAmounts[i]?.ToString("C") ?? "-")</td>
                }
            </tr>

        }
    </tbody>
</table>

